<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado</title>
</head>
<body>
    <h1 style = 'color: palevioletred;'> Listado de los integrantes de la familia de Rocio</h1>

    {% for familiar in lista_familiares %}
        <p> El <u>familiar</u> se llama: <b>{{familiar.nombre}}</b></p>
        <p> Su <u>edad</u> es: <b>{{familiar.edad}}</b> </p>
        
        {% if familiar.mayor_edad == True %}
        <p> El familiar es <b>mayor de edad</b> </p>
        {%else%}
        <p> El familiar <b>no es mayor de edad</b> </p>
        {%endif%}
        <br>
    {% endfor %} 
</body>
</html>